<form
    id="uploadForm"
    (submit)="onSubmit($event)"
>
    <dl>
        <dt>
            <label for="tags">Tags</label>
        </dt>
        <dd>
            <input id="tags" type="text" name="tags" />
        </dd>
    </dl>

    <input class="btn" type="submit" value="Upload" />

    @for (file of files(); track file.name) {
        <shared-card
            [key]="file.name"
            [title]="file.name"
            [summary]="file.text() | async"
            [selectionState]="selectionState()"
            [deselect]="deselect"
            [select]="select"
        >
            <shared-card-thumbnail
                [alt]="file.name"
                [file]="file"
            />
        </shared-card>
    }
</form>
