<photos-toolbar (onSearch)="search($event)"/>
<div class="photos-container">
    @if (!isLoadingPhotos() && !photoStore().pageSize) {
        <p>
          photos works but no photos was fetched!
        </p>
    }
    <mat-grid-list
        [cols]="isHandset() ? 4 : 8"
        rowHeight="fit"
    >
        @if (photoStore().page()) {
            @for (photo of photoStore().page()!.set; track photo.source.photoId) {
                <mat-grid-tile>
                    <photo-card
                        [photo]="photo.source"
                        [isHandset]="isHandset()"
                        [linkUrl]="'/garden/photos/single/' + photo.source.photoId"
                        [shareUrl]="'/garden/photos/single/' + photo.source.photoId"
                        [isFavorite]="isFavorite()(photo.source.photoId)"
                        [selectionState]="selectionState()"
                        [deselect]="deselect"
                        [select]="select"
                    />
                </mat-grid-tile>
            }
        }
    </mat-grid-list>
</div>
<shared-paginator
    [length]="photoStore().page()?.set?.size ?? 0"
    [pageSize]="photoStore().pageSize"
    [pageIndex]="photoStore().currentPage"
    [disabled]="isLoadingPhotos()"
    color="primary"
/>
