<mat-toolbar color="primary">
    <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="getNavbar()?.toggle()">
        <mat-icon style="font-family: 'hack-nerd-regular'" fontSet="hack" aria-label="Side nav toggle icon">󰍜</mat-icon>
    </button>
    <shared-search-bar
        searchFormName="photos"
        [callback]="searchForPhotos"/>
</mat-toolbar>
<div [className]="'photos-container'">
    @if (!isLoading() && (!page()?.set?.size)) {
        <p>
          photos works but no photos was fetched!
        </p>
    }

    @for (photo of page()?.set ?? []; track photo.source.photoId) {
        <shared-photo-card
            [photo]=photo.thumbnail!
            [isHandset]="isHandset$">
            {{ photo.source.slug }} #{{ photo.source.photoId }}
        </shared-photo-card>
    }
</div>
<shared-paginator
    [length]="photos()"
    [disabled]="isLoading()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    color="primary" />
