<article matRipple [ngClass]="'thumbnail-card'+(isHandset() ? ' handset':'')+(isSelected() ? ' selected':'')">
    @if (!isHandset()) {
        <div class="card-kebab-wrapper">
            <button
                mat-mini-fab
                aria-label="Toggle sidenav"
                [matMenuTriggerFor]="menu">
                <mat-icon
                    fontSet="hack"
                    [ariaLabel]="key() + ' Kebab Menu'">
                    
                </mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="selected()">
                <mat-icon
                    fontSet="hack"
                    [ariaLabel]="key() + ' Select Icon'">
                    {{ isSelected() ? '󰒉' : '󰒇' }}
                </mat-icon>
                <span>
                    {{ isSelected() ? 'Deselect' : 'Select' }}
                </span>
            </button>
            <button mat-menu-item [disabled]="!link()" (click)="copied()">
                <mat-icon
                    fontSet="hack"
                    [ariaLabel]="key() + ' Copy Icon'">
                    {{ isSelected() ? '󱊁' : '' }}
                </mat-icon>
                <span>
                    {{ isSelected() ? 'Copy Selected' : 'Copy' }}
                </span>
            </button>
            <button mat-menu-item [disabled]="!share()" (click)="shared()">
                <mat-icon
                    fontSet="hack"
                    [ariaLabel]="key() + ' Share Icon'">
                    {{ isSelected() ? '󱇴' : '󰒖' }}
                </mat-icon>
                <span>
                    {{ isSelected() ? 'Share Selected' : 'Share' }}
                </span>
            </button>
        </mat-menu>
    }

    @if (showSelect()) {
        <mat-checkbox
            [ariaChecked]="isSelected() ? 'selected' : 'not selected'"
            [checked]="isSelected()"/>
    }
    <span (click)="clicked($event)">
        <div [ngClass]="'card-image'+(isHandset() ? ' handset':'')">
            <ng-content/>
        </div>
        <p [ngClass]="'card-title'+(isHandset() ? ' handset':'')">
            {{ title() }}
        </p>
        @if (summary() && !isHandset()) {
            <p [ngClass]="'card-summary'+(isHandset() ? ' handset':'')">
                {{ summary() }}
            </p>
        }
    </span>
</article>
