<shared-card
    [isHandset]="isHandset()"
    [key]="photo().photoId.toString()"
    [title]="photo().filename"
    [summary]="photo().summary || null"
    [description]="photo().description || null"
    [tags]="photo().tags || null"
    [selectionState]="selectionState()"
    [deselect]="deselect()"
    [select]="select()"
    [shareUrl]="shareUrl()"
    [linkUrl]="linkUrl()"
>
    <shared-card-thumbnail
        [alt]="photo().slug + ' #' + photo().photoId"
        [base64]="image()"
    />
</shared-card>
