<form 
    [formGroup]="searchForm"
    [name]="'search-' + formName + '-form'"
    (ngSubmit)="submitHandler($event)"
    class="search-form">
    <mat-form-field
        appearance="fill"
        subscriptSizing="dynamic">
        <input
            matInput
            [formControl]="searchForm.controls.search"
            [placeholder]="placeholder"
            color="secondary">
        <mat-icon
            matSuffix
            fontSet="hack"
            [ariaLabel]="'Search ' + formName + ' icon'">
            
        </mat-icon>
    </mat-form-field>
    <ng-content/>
</form>
