@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides((
    /* container-background-color: rgba(0,0,0,0), */
  ));
}

mat-form-field {
  margin-right: 2rem;
  max-width: 48rem;
  width: 100%;

  @include mat.form-field-overrides((
    focus-state-layer-opacity: 0.16,
    filled-container-color: rgba(0,0,0,0),
    container-vertical-padding: 0.48rem,
    container-height: 32px,
  ));
}

mat-chip-grid {
  @include mat.chips-overrides((
    container-height: 32px,
  ));
}

button {
  mat-icon {
    scale: 0.88;
    text-align: justify;
    vertical-align: middle;
  }
  @include mat.icon-button-overrides((
    state-layer-size: 12px,
    icon-size: 12px
  ));
}
