<mat-toolbar>
    <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="getNavbar()?.toggle()">
        <mat-icon fontSet="hack" aria-label="Side nav toggle icon">󰍜</mat-icon>
    </button>
    <shared-search-bar
        formName="photos"
        placeholder="Search for Photos!"
        [(onSearch)]="queryParameters"
    >
        <shared-tags-input
            [control]="tagsControl()"
            [(tags)]="tags"
        />
        <button mat-icon-button type="submit" aria-label="Icon submit search button">
          <mat-icon class="search-submit-button-icon" fontSet="hack">󱎱</mat-icon>
        </button>
    </shared-search-bar>
</mat-toolbar>
