@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides((
    /* container-background-color: rgba(0,0,0,0), */
  ));
}

mat-form-field {
  margin-right: 2rem;
  max-width: 48rem;
  width: 100%;

  @include mat.form-field-overrides((
    focus-state-layer-opacity: 0.16,
    filled-container-color: rgba(0,0,0,0),
    container-vertical-padding: 0.48rem,
    container-height: 32px,
  ));
}

mat-chip-grid {
  @include mat.chips-overrides((
    container-height: 32px,
  ));
}

button {
  mat-icon {
    text-align: justify;
    vertical-align: middle;
    padding-left: 2px;
  }
  mat-icon.search-submit-button-icon {
    font-size: 26px;
  }

  @include mat.icon-button-overrides((
    state-layer-size: 12px,
    icon-size: 12px
  ));
}

.select-mode-display-chip {
  cursor: pointer;
  z-index: 8;
  
  mat-chip {
    background-color: #2196f3;
  }

  @include mat.chips-overrides((
    outline-width: 2px,
    outline-color: white,
    label-text-size: var(--mat-sys-label-large-size, 14px),
  ));
}
a.select-mode-display-chip {
  position: absolute;
  z-index: 10;
  left: 48%;
  top: 5rem;
}
