<mat-toolbar>
    <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="getNavbar()?.toggle()">
        <mat-icon fontSet="hack" aria-label="Side nav toggle icon">󰍜</mat-icon>
    </button>
    <mat-form-field
        class="search-bar"
        subscriptSizing="dynamic"
    >
        <input
            matInput
            color="secondary"
            name="search-photos-input"
            aria-label="Search Photos Input"
            placeholder="Search for Photos!"
            [formControl]="searchControl"
            (submit)="triggerSearch()"
            (blur)="triggerSearch()"
        />
    </mat-form-field>
    <photo-tags-input 
        aria-label="Search Photos With Tags Input"
        (blur)="triggerSearch()"
        [(tags)]="tags"
    />
    <button
        mat-icon-button
        class="search-submit"
        aria-label="Icon submit search button"
        (click)="triggerSearch()"
        type="submit"
    >
        <mat-icon
            matSuffix
            fontSet="hack"
            class="search-submit-button-icon"
            aria-label="Search photos icon'"
        >
            
        </mat-icon>
    </button>
    @if (selectionState().selectModeActive) {
        <a class="select-mode-display-chip">
            <mat-chip 
                (click)="quitSelectMode()"
                color="tertiary"
            >
                Select Mode ({{ selectionState().selection.length }})
            </mat-chip>
        </a>
    }
</mat-toolbar>
