@use '@angular/material' as mat;

mat-form-field {
  margin: 0 2rem;
  max-width: 24rem;
  width: 36%;

  @include mat.form-field-overrides((
    focus-state-layer-opacity: 0.16,
    filled-container-color: rgba(0,0,0,0),
    // container-vertical-padding: 0,
    container-height: 32px,
  ));
}
photo-tags-input {
  margin-right: 2rem;
  max-width: 32rem;
  width: 64%;
}

.select-mode-display-chip {
  cursor: pointer;
  z-index: 8;
  
  mat-chip {
    background-color: #2196f3;
  }

  @include mat.chips-overrides((
    outline-width: 2px,
    outline-color: white,
    label-text-size: var(--mat-sys-label-large-size, 14px),
  ));
}
a.select-mode-display-chip {
  position: absolute;
  z-index: 10;
  left: 48%;
  top: 5rem;
}

button.search-submit {
  box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level2));
}
