@use '@angular/material' as mat;

// Primary: MediumSlateBlue (#7B68EE)
// Secondary: md.sys.color.secondary (#625B71)
// Tertiary: Something Random (#5dc2cc)
// Neutral: md.sys.color.inverse-surface (#322F35)
@use 'theme-colors.scss' as colors;

// Include base Material styles.
@include mat.core();

// WIP
$custom-typography: (
  plain-family: hack-nerd-font,
  brand-family: Hack Nerd Font,
  bold-weight: 900,
  medium-weight: 500,
  regular-weight: 300,
);

/* $garden-dark: (
  color: (
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette,
    theme-type: dark,
  ),
  typography: $custom-typography,
  density: 0,
); */

html {
  color-scheme: dark;
  /* @include mat.theme($garden-dark); */
  @include mat.theme((
    colors: colors,
    typography: $custom-typography,
    density: 0,
  ));
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
/* :root {
  @include mat.form-field-overrides((
    filled-focus-label-text-color: mat.get-theme-color($garden-dark, foreground, text)
  ));
} */
