img {
    max-height: 48px;
    max-width: 48px;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    display: inline-block;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 16rem;
}

.mat-drawer-inner-container {
    padding: 0 0.48rem;
}
.mat-mdc-nav-list {
    padding: 0 0.48rem;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-icon.mat-icon {
    width: unset;
    height: unset;
    max-width: 24px;
    max-height: 24px;
}
