.photo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    padding: 0.16rem;
    margin: 0.32rem 0;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    border-color: rgba(0,0,0,0.0);
    border-style: solid;
    border-width: 1px;
    /* cursor: pointer; */
}
.photo-card-container a {
    text-decoration: none;
}
.photo-card-container div p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    padding: 0.24rem;
    margin: unset;
    user-select: none;
    -ms-user-select: none;      
    -moz-user-select: none;    
    -webkit-user-select: none;  
}
.photo-card-container:hover {
    border-color: rgba(127,127,127,0.16);
}
.photo-card-container:hover .mat-mdc-card {
    box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level2));
}

.handset-photo-card-container {
    height: 8rem;
    max-width: 8rem;
    font-size: 10px;
}
.desktop-photo-card-container {
    height: 9.6rem;
    max-width: 9.6rem;
    font-size: 11px;
}

a {
    overflow: clip;
} 

.handset-photo-card-image {
    max-width: 5.6rem;
    max-height: 6.4rem;
}
.desktop-photo-card-image {
    max-width: 6.4rem;
    max-height: 7.2rem;
}

img {
    object-fit: contain;
    overflow: clip;
    margin: auto;
}

p.desktop-photo-card-title {
    font-size: 12px;
    font-weight: bold;
}
p.handset-photo-card-title {
    font-size: 11px;
    font-weight: bold;
}
