<a [href]="link()">
    <article matRipple [ngClass]="'photo-card ' + (!!(isHandset | async) ? 'handset-photo-card' : 'desktop-photo-card')">
        <div [ngClass]="'photo-card-image ' + (!!(isHandset | async) ? 'handset-image' : 'desktop-image')">
            @if(imageIsLoading()) {
                <mat-progress-bar [mode]="'buffer'" />
            }
            @else {
                <img mat-card-sm-image 
                    [src]="imageEncoded"
                    [alt]="photo.slug" >
            }
        </div>
        <p [ngClass]="!!(isHandset | async) ? 'handset-photo-card-title' : 'desktop-photo-card-title'">
            <ng-content/>
        </p>
    </article>
</a>
