article {
    cursor: pointer;
    display: block;
    overflow: hidden; 
    border: 1px solid rgba(0,0,0,0);
    border-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    transition-duration: .08s;
}

article:hover {
    border-color: rgba(127,127,127,0.16);
    box-shadow: var(--mdc-elevated-card-container-elevation, var(--mat-sys-level2));
}
article.selected {
    border: 2px solid var(--mat-full-pseudo-checkbox-selected-icon-color);
    border-radius: calc(var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium)) * 1.5);
}
article.holding {
    transition: var(--fbc-transition);
    transition-duration: .24s;
    scale: 1.1;
}
article.not-selected:hover {
    border: 2px dotted var(--mat-full-pseudo-checkbox-selected-icon-color) !IMPORTANT;
    border-radius: calc(var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium)) * 1.5);
}

p {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    padding: 0 0.32rem 0.32rem 0.32rem;
    margin: unset;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;    
    -webkit-user-select: none;  
}

.card-select-checkbox {
    position: absolute;
    right: 0.16rem;
    top: 0.16rem;
}
.card-kebab-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0.32rem;
    top: 0.32rem;
}
.card-menu-button {
    /* background-color: var(--fbc-blue-70, --mdc-fab-small-container-color); */
    border-radius: 6px;
    height: 32px;
    width: 24px;
}
.card-menu-button.handset, .card-menu-button.select-mode {
    visibility: hidden;
}

.shared-card {
    height: 12rem;
    width: 9.6rem;
}
.shared-card.handset {
    height: 8rem;
    width: 6.4rem;
}
.card-title {
    font-size: 12px;
    font-weight: bold;
}
.card-title.handset {
    font-size: 11px;
    font-weight: bold;
}
.card-summary {
    font-size: 11px;
}
.card-summary.handset {
    font-size: 10px;
}
