<article
    matRipple
    (click)="clicked($event)"
    (pointerdown)="touchStart($event)"
    (pointerup)="touchEnd($event)"
    (pointerleave)="touchEnd($event)"
    (touchstart)="touchStart($event)"
    (touchleave)="touchEnd($event)"
    (touchend)="touchEnd($event)"
    [ngClass]="[
        'shared-card',
        isHandset() ? 'handset':'',
        isSelected() ? 'selected':'',
        !isSelected() && selectionState().selectModeActive ? 'not-selected' : '',
        isHolding() ? 'holding':''
    ]"
>
    @if (selectionState().selectModeActive) {
        <mat-checkbox
            class="card-select-checkbox"
            [disableRipple]="true"
            [ariaChecked]="isSelected() ? 'selected' : 'not selected'"
            [checked]="isSelected()"
            (click)="selected()"
        />
    }
    <div class="card-kebab-wrapper">
        <button
            mat-mini-fab
            #cardMenuButton
            aria-label="Toggle sidenav"
            [matMenuTriggerFor]="menu"
            [ngClass]="[
                'card-menu-button',
                isHandset() ? 'handset':'',
                selectionState().selectModeActive ? 'select-mode' : ''
            ]"
        >
            <mat-icon
                fontSet="hack"
                [ariaLabel]="key() + ' Kebab Menu'">
                
            </mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu">
        @if (selectionState()) {
            <shared-card-menu-item
                [key]="key() + '-select'"
                (onClick)="selected()"
                icon="󰒇" 
                text="Select"
                iconSelected="󰒉"
                textSelected="Deselect"
                [isSelected]="isSelected()"
            />
        }
        @if (linkUrl()) {
            <shared-card-menu-item
                [key]="key() + '-link'"
                (onClick)="linked()"
                icon="󰒖" 
                text="Link"
                iconSelected="󱇴"
                textSelected="Link Selected"
                [isSelected]="isSelected()"
            />
        }
        @if (shareUrl()) {
            <shared-card-menu-item
                [key]="key() + '-share'"
                (onClick)="shared()"
                icon="󰒖" 
                text="Share"
                iconSelected="󱇴"
                textSelected="Share Selected"
                [isSelected]="isSelected()"
            />
        }
    </mat-menu>

    <span>
        <ng-content select="shared-card-thumbnail"/>
        <p  matTooltipPosition="above"
            [matTooltip]="title()"
            [matTooltipDisabled]="title().length < 24"
            [ariaLabel]="'Card' + key() + 'title text with tooltip'"
            [ngClass]="'card-title'+(isHandset() ? ' handset':'')"
        >
            {{ title() }}
        </p>
        @if (summary() && !isHandset()) {
            <p  matTooltipPosition="below"
                [matTooltip]="summary()"
                [matTooltipDisabled]="summary()!.length < 32"
                [ariaLabel]="'Card ' + key() + ' summary text with tooltip'"
                [ngClass]="'card-summary'+(isHandset() ? ' handset':'')"
            >
                {{ summary() }}
            </p>
        }
    </span>
</article>
