<article
    matRipple
    [ngClass]="'shared-card'+(isHandset() ? ' handset':'')+(isSelected() ? ' selected':'')"
>
    @if (selectionState().selectModeActive) {
        <mat-checkbox
            class="card-select-checkbox"
            [disableRipple]="true"
            [ariaChecked]="isSelected() ? 'selected' : 'not selected'"
            [checked]="isSelected()"
            (click)="selected()"
        />
    }
    @else if (!isHandset()) {
        <div class="card-kebab-wrapper">
            <button
                mat-mini-fab
                class="card-menu-button"
                aria-label="Toggle sidenav"
                [matMenuTriggerFor]="menu">
                <mat-icon
                    fontSet="hack"
                    [ariaLabel]="key() + ' Kebab Menu'">
                    
                </mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            @if (selectionState()) {
                <shared-card-menu-item
                    [key]="key() + '-select'"
                    (onClick)="selected()"
                    icon="󰒇" 
                    text="Select"
                    iconSelected="󰒉"
                    textSelected="Deselect"
                    [isSelected]="isSelected()"
                />
            }
            @if (linkUrl()) {
                <shared-card-menu-item
                    [key]="key() + '-link'"
                    (onClick)="linked()"
                    icon="󰒖" 
                    text="Link"
                    iconSelected="󱇴"
                    textSelected="Link Selected"
                    [isSelected]="isSelected()"
                />
            }
            @if (shareUrl()) {
                <shared-card-menu-item
                    [key]="key() + '-share'"
                    (onClick)="shared()"
                    icon="󰒖" 
                    text="Share"
                    iconSelected="󱇴"
                    textSelected="Share Selected"
                    [isSelected]="isSelected()"
                />
            }
        </mat-menu>
    }

    <span (click)="clicked($event)">
        <ng-content select="shared-card-thumbnail"/>
        <p [ngClass]="'card-title'+(isHandset() ? ' handset':'')">
            {{ title() }}
        </p>
        @if (summary() && !isHandset()) {
            <p [ngClass]="'card-summary'+(isHandset() ? ' handset':'')">
                {{ summary() }}
            </p>
        }
    </span>
</article>
